<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /insuvald/
  
  # No reescribir archivos/carpetas que existen
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/insuvald/wordpress/
  
  # Redirigir todo a index.html (React Router)
  RewriteRule ^ /insuvald/index.html [L]
</IfModule>